:root {
  --font-base-size: 1rem;

  --color-text: #e3e3e3;
  --color-surface: transparent;
  --color-primary: transparent;
  --color-secondary: transparent;
  --color-background: #202020;
  --color-border: #7c7c7c;

  --transition: 0.3s ease;

  --border: 1px solid var(--color-border);
  --border-radius: 4px;

  --filter-background-blur: blur(8px);

  --header-height: 60px;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-size: var(--font-base-size);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  background-color: var(--color-background);
}

p {
  margin: 0;
  color: var(--color-text);
}
